<mat-card class="sin-sombra-card">
  <div class="row gap-8 align-items-center p-16">
    <img src="/assets/images/carrito-compras.svg" width="34" height="31" />
    <h3 i18n="producto.registrarProducto.titulo">Registrar producto</h3>
  </div>
  <div class="p-12 column gap-16" [formGroup]="formulario">
    <div class="column gap-8">
      <div class="row gap-16">
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label i18n="producto.registrarProducto.nombre">Nombre</mat-label>
          <input
            matInput
            data-testid="input-registrar-producto-nombre"
            formControlName="nombre"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label i18n="producto.registrarProducto.fabricanteAsociado"
            >Fabricante asociado</mat-label
          >
          <mat-select
            data-testid="select-fabricante-asociado"
            formControlName="fabricanteAsociado"
          >
            @for (fabricante of listadoFabricantes(); track fabricante.id) {
              <mat-option [value]="fabricante.id">
                {{ fabricante.nombre }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row gap-16">
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label i18n="producto.registrarProducto.codigo"
            >Código del producto</mat-label
          >
          <input
            matInput
            data-testid="input-registrar-producto-codigo"
            formControlName="codigo"
            type="number"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label i18n="producto.registrarProducto.precio"
            >Precio del producto</mat-label
          >
          <input
            matInput
            data-testid="input-registrar-producto-precio"
            formControlName="precio"
            class="text-right"
            type="number"
          />
          <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="flex-1">
        <mat-label i18n="producto.registrarProducto.imagen"
          >Ruta imagen del producto</mat-label
        >
        <input
          matInput
          data-testid="input-registrar-producto-imagen"
          formControlName="imagen"
          type="text"
        />
      </mat-form-field>
    </div>
    <div class="row justify-content-between">
      <button
        i18n="producto.registrarProducto.registrarMasivo"
        mat-stroked-button
        color="primary"
        data-testid="boton-registrar-productos-masivo"
        (click)="abrirModalRegistrarMasivo()"
      >
        Registrar masivo
      </button>

      <button
        [disabled]="formulario.invalid"
        i18n="producto.registrarProducto.guardar"
        mat-raised-button
        color="primary"
        data-testid="boton-guardar-producto"
        (click)="guardarProducto()"
      >
        Guardar
      </button>
    </div>
  </div>
</mat-card>
