<section>
  <div class="row justify-content-end pt-12 px-16">
    <mat-icon class="cursor-pointer color-grey-800" mat-dialog-close
      >close</mat-icon
    >
  </div>
  <mat-dialog-content>
    <div class="column gap-17">
      @for (producto of store.productosSeleccionados(); track $index) {
        <div class="row align-items-center justify-content-between">
          <div class="row gap-20 align-items-center">
            <img class="max-tamanio" [src]="producto.imagen" />
            <div class="column gap-2">
              <p class="mat-body-1 color-grey-800">
                {{ producto.nombre }}
              </p>
              <p class="mat-body-2 color-accent">
                {{ producto.precio | number }} COP
              </p>
            </div>
          </div>
          <h3 class="color-grey-800">{{ producto.cantidad }}</h3>
        </div>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="actions">
    <button
      i18n="crearPedido"
      data-testid="boton-crear-pedido"
      mat-raised-button
      color="primary"
      (click)="crearPedido()"
    >
      Crear pedido
    </button>
  </mat-dialog-actions>
</section>
