<div class="column heigth-100">
  <app-header></app-header>
  <div class="flex-1 column gap-20 justify-content-center align-items-center">
    <img width="167" height="134" src="/images/cubo.svg" />
    <div class="text-center">
      <h2 class="color-primary">Bienvenido</h2>
      <p class="color-on-surface">
        Selecciona la categoría a la que perteneces
      </p>
    </div>
    <div class="column gap-12">
      <button
        class="width-209 justify-content-between"
        mat-raised-button
        color="primary"
      >
        Vendedor <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
      </button>
      <button
        class="width-209 bg-white justify-content-between"
        mat-stroked-button
        color="primary"
      >
        Cliente <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
