<section>
  <div class="row justify-content-end pt-12 px-16">
    <mat-icon class="cursor-pointer color-grey-800" mat-dialog-close
      >close</mat-icon
    >
  </div>
  <div class="p-16 column gap-17">
    <div class="row align-items-center justify-content-between">
      <div class="row gap-20 align-items-center">
        <img class="max-tamanio" [src]="producto.imagen" />
        <div class="column gap-2">
          <p class="mat-body-1 color-grey-800">
            {{ producto.nombre }}
          </p>
          <p class="mat-body-2 color-accent">
            {{ producto.precio | number }} COP
          </p>
        </div>
      </div>
      <div class="row gap-13 align-items-center">
        <button
          data-testid="boton-restar-producto"
          mat-icon-button
          (click)="restarProducto()"
        >
          <mat-icon class="color-primary">remove</mat-icon>
        </button>
        <h3 class="color-grey-800">{{ cantidadProductos() }}</h3>
        <button
          data-testid="boton-sumar-producto"
          mat-icon-button
          (click)="sumarProducto()"
        >
          <mat-icon class="color-primary">add</mat-icon>
        </button>
      </div>
    </div>
    <div class="row justify-content-end">
      <button
        i18n="agregar"
        data-testid="boton-agregar-producto"
        mat-raised-button
        color="primary"
        (click)="agregarProducto()"
      >
        Agregar
      </button>
    </div>
  </div>
</section>
